</div> 
 
<div id="bg_info"> 
  background-image<br/> 
  <a href="http://www.flickr.com/photos/symfony/4005376025/in/set-72157622571425654/">citymoves enschede/nl</a> 
</div> 
 
<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
try {
var pageTracker = _gat._getTracker("UA-1612382-12");
pageTracker._trackPageview();
} catch(err) {}</script> 
 
 
</body> 
</html> 