<div id="social" class="wrapper white"> 
  <h3><%= t 'social.social' %></h3>
    <ul> 
      <li class="first"><a href="http://www.xing.com/profile/Frank_Cieslik3"><img src="/images/social/xing.png" alt="" title="" class="xing"/><b><%= t 'social.xing' %></b><br/>xing.com/profile/Frank_Cieslik3</a></li> 
      <li><a href="http://www.facebook.com/fraank"><img src="/images/social/facebook.png" alt="" title="" class="facebook"/><b><%= t 'social.facebook' %></b><br/>facebook.com/fraank</a></li> 
      <li class="first"><a href="http://de.linkedin.com/in/frankcieslik"><img src="/images/social/linkedin.png" alt="" title="" class="linkedin"/><b><%= t 'social.linkedin' %></b><br/>linkedin.com/in/frankcieslik</a></li> 
      <li><a href="http://delicious.com/fraank"><img src="/images/social/delicious.png" alt="" title="" class="delicious"/><b>delicious</b><br/>delicious.com/fraank</a></li> 
    </ul> 
    <div class="clearer"></div>
</div>