<div class="wrapper white">
  
  <h2><%= t 'contact.contact' %></h2>
  Frank Cieslik<br/><br/>

  
  <h3>Adresse</h3>
  Westfalenring 107<br/>
  48485 Neuenkirchen<br/><br/>
  
  <h3>Social</h3>
  <a href="http://www.facebook.com/fraank">facebook</a>
  | <a href="http://www.xing.com/profile/Frank_Cieslik3">xing</a>
  | <a href="http://de.linkedin.com/in/frankcieslik">linkedin</a>
  | <a href="http://www.lastfm.de/user/symfony">last.fm</a>
  | <a href="http://www.flickr.com/photos/symfony/">flickr</a>
  | <a href="skype:frank.cieslik?call">skype</a>
  
  <br/><br/>
  <h3>Projects</h3>
  <a href="http://fcn.nu">fcn.interactive</a> <a href="http://architectureloft.de">architectureloft</a>
  <%#=link_to "Get Vcard", { :controller => "contact", :action => 'vcard',  :locale => @locale } %>
  
</div>