<div class="wrapper white">
  
  <h2><%= t 'contact.contact' %></h2>
  
  <h3>Adresse:</h3>
  Frank Cieslik<br/>
  Westfalenring 107<br/>
  48485 Neuenkirchen<br/>
  
  <a href="skype:frank.cieslik?call"><b>skype:</b> frank.cieslik</a>
  
</div>